<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head-meta') %>
  <title>Weekly Review | GTD Weekly Review</title>
</head>
<body>
  <h1><abbr title="Getting Things Done">GTD</abbr> Weekly Review</h1>

  <p>Hi, <%= user.full_name %>!</p>
  <p><a href="/auth/logout">Logout</a></p>

  <h2><%= completedItems.length %> Completed Todoist Items</h2>
  <% for (let group in groupedCompletedItems) { %>
    <h2><%= group %></h2>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        <% groupedCompletedItems[group].forEach(function(event) { %>
        <% const project = user.projects.find((project) => project.id === event.parent_project_id) %>
        <% const date = new Date(event.event_date) %>
        <tr>
          <td><%= event.extra_data.content %></td>
          <td>
            <strong style="color: <%= colors[project.color] %>">
              <%= project.name %>
            </strong>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>

  <%- include('partials/footer') %>
</body>
</html>